<div class="user-account-nav user-account-sidebar">
    <div class="user-nav-list">
        <ul>
            <li class="{% if '/accounts/custDashboard/' == request.path or '/customer/' == request.path %}active{% endif %}"><a href="{% url 'accounts:custDashboard' %}"><i class="icon-dashboard3"></i>Dashboard</a></li>
            <li><a href="buyer-bookings.html" class="btn-edit-profile"><i class="icon-file-text2"></i>My Bookings</a></li>
            <li><a href="buyer-reviews.html" class="btn-edit-profile"><i class="icon-comment2"></i>My Reviews</a></li>
            <li class="{% if '/my_orders/' in request.path or '/orders_details/ in request.path' %}active{% endif %}"><a href="{% url 'accounts:customer_orders' %}" class="btn-edit-profile"><i class="icon-add_shopping_cart"></i>My Orders</a></li>
            <li><a href="buyer-shortlists.html"><i class="icon-heart"></i>Shortlists</a></li>
            <li><a href="buyer-statement.html"><i class="icon-file-text22"></i>Statement</a></li>
            <li class="{% if '/profile/' in request.path %}active{% endif %}"><a href="{% url 'accounts:cprofile' %}"><i class="icon-build"></i>Profile Settings</a></li>
            <li><a id="profile_delete" href="#"><i class="icon-delete"></i>Delete Profile</a></li>
            <li><a href="{% url 'accounts:logout' %}"><i class="icon-log-out"></i>Sign out</a></li>
        </ul>
    </div>
</div>